<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-image: url('Windmill.jpg');
            background-size: 100%;
        }
    </style>
    <title>WIND TURBINE ENERGY PREDICTION</title>
    <style>
        h1{text-align: center;}
        h3{text-align: center;}
    </style>
</head>
<body>
    
	<div class="container">
        	<div class="glass door">
            	<h1 class="text">The predicted Output power is</h1><br>
            	<b><h3 class="highlight">{{predict}}</h3></b><br>
                <a href=" http://127.0.0.1:5000" class="submit"><h1>Go Back</h1></a>
		    </div>
	</div>
</body>
</html>